WindowsFormsApplication1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetHourlyInSpecificDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourlyInSpecificDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHourlyInSpecificDayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyInThreshold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstMonth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondMonth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyInThresholdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDailyInThresholdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>